<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/settings">Settings</a>
        </nav>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

</body>

</html>